services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_VERSION: "1.0.0"
    image: demian/crm-backend:1.0.0
    container_name: crm-backend  
    environment:
      DB_HOST: ${DB_HOST}  
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

      BACKEND_PORT: ${BACKEND_PORT} 
      
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      KAFKA_TOPIC_ORDERS: ${KAFKA_TOPIC_ORDERS}
      KAFKA_GROUP_ID: ${KAFKA_GROUP_ID}

      CLICKHOUSE_HOST: ${CLICKHOUSE_HOST}
      CLICKHOUSE_PORT: ${CLICKHOUSE_PORT}
      CLICKHOUSE_DATABASE: ${CLICKHOUSE_DATABASE}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      kafka:
        condition: service_started
      clickhouse:
        condition: service_started
    networks:
      - crm-network
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: postgres 
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 30s
      start_interval: 2s 
    networks:
      - crm-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis 
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - crm-network
    restart: unless-stopped

  kafka:
    image: redpandadata/redpanda:v23.3.9
    container_name: kafka
    command:
      - redpanda
      - start
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --overprovisioned
      - --node-id
      - "0"
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://${KAFKA_ADVERTISED_HOST}:${KAFKA_PORT}
    ports:
      - "${KAFKA_PORT}:${KAFKA_PORT}"
    networks:
      - crm-network
    restart: unless-stopped

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DB: ${CLICKHOUSE_DATABASE}
    ports:
      - "8123:8123"
      - "${CLICKHOUSE_PORT}:${CLICKHOUSE_PORT}"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    networks:
      - crm-network
    restart: unless-stopped
  

volumes:
  postgres_data:
  redis_data:
  clickhouse_data:

networks:
  crm-network:
    driver: bridge


