name: CI-CD

on:
  push:
    branches: [ main ]

env:
  REGISTRY: demcheek3/gopracrepo
  IMAGE_NAME: go-backend

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Run tests
        run: go test ./...

  build:
    runs-on: ubuntu-latest
    needs: test
    outputs:
      image_tag: ${{ steps.set_tag.outputs.image_tag }}
    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        id: set_tag
        run: |
          IMAGE_TAG=${GITHUB_SHA:0:7} 
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Build docker image
        run: |
          docker build -t $REGISTRY/$IMAGE_NAME:${GITHUB_SHA::7} .
          docker tag $REGISTRY/$IMAGE_NAME:${GITHUB_SHA::7} $REGISTRY/$IMAGE_NAME:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push image
        run: |
          docker push $REGISTRY/$IMAGE_NAME:${GITHUB_SHA::7}
          docker push $REGISTRY/$IMAGE_NAME:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1
        env:
          REGISTRY: ${{ env.REGISTRY }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          IMAGE_TAG: ${{ needs.build.outputs.image_tag }}
        with:
          host: ${{ secrets.HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /app
            docker compose pull
            docker compose up -d 


